<p>
  <strong>Species Count:</strong>
  <%= group.species_total %>
</p>

<p>
  <strong>Individual Count:</strong>
  <%= group.individual_total %>
</p>

<p>
  <strong>Observers:</strong>
  <%= group.observer_total %>
</p>
